NET "sys_clk_pad_i"    LOC = "H17"  | IOSTANDARD = LVTTL ;
NET "uart0_srx_pad_i"  LOC = "A11"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "uart0_stx_pad_o"  LOC = "A10"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "rst_n_pad_i"      LOC = "N14"  | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "tck_pad_i" CLOCK_DEDICATED_ROUTE = FALSE;
# Constraints
#NET "sys_clk_pad_i" TNM_NET = "sys_clk_pad_i";
#TIMESPEC TS_sys_clk_pad_i = PERIOD "sys_clk_pad_i" 50 MHz HIGH 50 %;
#NET "wb_clk" TNM_NET = "wb_clk";
#TIMESPEC TS_wb_clk = PERIOD "wb_clk" 25 MHz high 50%;
#NET "tck_pad_i" TNM_NET = "tck_pad_i";
#TIMESPEC TS_tck_pad_i = PERIOD "tck_pad_i" 5 MHz high 50% PRIORITY 0;
#TIMESPEC TS_tck_to_wb_clk = FROM "tck_pad_i" TO "wb_clk" TIG;
#TIMESPEC TS_wb_to_tck_clk = FROM "wb_clk" TO "tck_pad_i" TIG;

