NET "clk" LOC = "H17"| IOSTANDARD = LVTTL ;
NET "uart_srx" LOC = "A11"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "uart_stx" LOC = "A10"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "reset"    LOC = "N14"  | IOSTANDARD = LVTTL | PULLDOWN ;
